.whiteSelect {
    .MuiInputLabel-root {
      color: #F0F0F0 !important; 
    }
  
    .MuiOutlinedInput-root {
      color: #F0F0F0 !important;
      
      & .MuiOutlinedInput-notchedOutline {
        border-color: #F0F0F0 !important;
  
      &:hover .MuiOutlinedInput-notchedOutline {
        border-color: #F0F0F0 !important;
      }
  
      &.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: #F0F0F0 !important;
      }
    }
  
    .MuiSelect-icon {
      color: #F0F0F0 !important;
    }
  }
}