.container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 12px;
	border-bottom: 2px solid;

	header {
		font-size: 32px;
		font-weight: 700;
	}

	div {
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			margin-left: 12px;
		}
	}
}
